.container {
  display: flex;
  align-items: center;
}

.image {
  cursor: default;
  pointer-events: none;
  user-select: none;
}

.text {
  cursor: default;
  user-select: none;
  font-weight: bold;
}
