.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 150px;
}

.content {
  display: flex;
  align-items: first baseline;
  flex-direction: column;
  gap: 55px;
}

.profileBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.profileBannerImage {
  box-shadow: 0 1px 15px 2px rgba(0, 0, 0, 0.25);
}

.profileBannerText {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.profileBannerHeader {
  font-size: 24px;
  font-weight: 200;
  font-style: italic;
}
.profileBannerTitle {
  width: 550px;
  height: 95px;
  font-size: 64px;
  font-weight: 700;
}

.profileBannerStatsContainer {
  display: flex;
  gap: 50px;
  height: 71px;
}

.statsText {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.statNumber {
  font-size: 24px;
  font-weight: 600;
  font-style: italic;
}

.statName {
  font-size: 20px;
  font-weight: 400;
}
